#TeamSection {
    padding: 10px;
}

.dignitary {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.profileimg {
    width: inherit;
    object-fit: contain;
    display: flex;
    justify-content: center;
}

.slick-arrow {
    display: none;
}

.profileimg img {
    width: 200px;
    height: 200px;
    background: white;
    object-fit: contain;
    border-radius: 50%;
    margin: 10px;
}

.designation>p {
    display: flex;
    width: inherit;
    justify-content: center;
    text-align: center;
    color: white;
}